.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 30%;
  height: 30%;
  margin-top: -60px;
  background-color: white;
  border-radius: 50%;
  border-width: 2px;
  border-color: #333;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5 {
  color: #333;
}
.profile-head h6 {
  color: #0062cc;
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}

.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
.profile-work {
  padding: 14%;
  /* margin-top: -15%; */
}
.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  /* margin-top: 10%; */
}
.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul {
  list-style: none;
}
.profile-tab label {
  font-weight: 600;
}
.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}

/* Methods */
.method .header,
.method .cell {
  padding: 6px 6px 6px 10px;
}
.method .list-header .header {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #999;
  background-color: #eee;
}
.method [class^="row"],
.method [class*=" row"] {
  border-bottom: 1px solid #ddd;
}
/* .method [class^="row"]:hover,
.method [class*=" row"]:hover {
  background-color: #f7f7f7;
} */
.method .cell {
  font-size: 0.85em;
}
.method .cell .mobile-isrequired {
  display: none;
  font-weight: normal;
  text-transform: uppercase;
  color: #aaa;
  font-size: 0.8em;
}
.method .cell .propertyname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.method .cell .type {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.method .cell code {
  color: #428bca;
}
.method .cell a,
.method .cell a:hover {
  text-decoration: none;
}
.method .cell code.custom {
  color: #8a6d3b;
  text-decoration: none;
}
.method .cell .text-muted {
  color: #ddd;
}
@media (max-width: 991px) {
  /* .method [class^="row"],
  .method [class*=" row"] {
    padding-top: 10px;
    padding-bottom: 10px;
  } */
  .method .cell {
    padding: 0 10px;
  }
  .method .cell .propertyname {
    font-weight: bold;
    font-size: 1.2em;
  }
  .method .cell .propertyname .lookuplink {
    font-weight: normal;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 10px;
  }
  .method .cell .type {
    padding-left: 10px;
    font-size: 1.1em;
  }
  .method .cell .isrequired {
    padding-left: 10px;
    display: none;
  }
  .method .cell .description {
    padding-left: 10px;
  }
  .method .cell .mobile-isrequired {
    display: inline;
  }
}

/* Row Utilities */
/* [class^="row"].margin-0,
[class*=" row"].margin-0,
[class^="form-group"].margin-0,
[class*=" form-group"].margin-0 {
  margin-left: -0px;
  margin-right: -0px;
}
[class^="row"].margin-0 > [class^="col-"],
[class^="row"].margin-0 > [class*=" col-"],
[class*=" row"].margin-0 > [class^="col-"],
[class*=" row"].margin-0 > [class*=" col-"],
[class^="form-group"].margin-0 > [class^="col-"],
[class^="form-group"].margin-0 > [class*=" col-"],
[class*=" form-group"].margin-0 > [class^="col-"],
[class*=" form-group"].margin-0 > [class*=" col-"] {
  padding-right: 0px;
  padding-left: 0px;
}
[class^="row"].margin-0 [class^="row"],
[class^="row"].margin-0 [class*=" row"],
[class^="row"].margin-0 [class^="form-group"],
[class^="row"].margin-0 [class*=" form-group"],
[class*=" row"].margin-0 [class^="row"],
[class*=" row"].margin-0 [class*=" row"],
[class*=" row"].margin-0 [class^="form-group"],
[class*=" row"].margin-0 [class*=" form-group"],
[class^="form-group"].margin-0 [class^="row"],
[class^="form-group"].margin-0 [class*=" row"],
[class^="form-group"].margin-0 [class^="form-group"],
[class^="form-group"].margin-0 [class*=" form-group"],
[class*=" form-group"].margin-0 [class^="row"],
[class*=" form-group"].margin-0 [class*=" row"],
[class*=" form-group"].margin-0 [class^="form-group"],
[class*=" form-group"].margin-0 [class*=" form-group"] {
  margin-left: 0;
  margin-right: 0;
} */
